<!DOCTYPE html>
<html lang="en" ng-app="tadalist">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tadalist</title>
  <script src="assets/bundle.js"></script>
</head>
<body>
	<svg xmlns="http://www.w3.org/2000/svg" display="none" version="1.1">
		<defs>
			<symbol id="icon-mode_edit" viewBox="0 0 24 24">
				<title>edit</title>
				<path d="M20.719 7.031l-1.828 1.828-3.75-3.75 1.828-1.828c0.375-0.375 1.031-0.375 1.406 0l2.344 2.344c0.375 0.375 0.375 1.031 0 1.406zM3 17.25l11.063-11.063 3.75 3.75-11.063 11.063h-3.75v-3.75z"></path>
			</symbol>
			<symbol id="icon-delete" viewBox="0 0 24 24">
				<title>delete</title>
				<path d="M18.984 3.984v2.016h-13.969v-2.016h3.469l1.031-0.984h4.969l1.031 0.984h3.469zM6 18.984v-12h12v12c0 1.078-0.938 2.016-2.016 2.016h-7.969c-1.078 0-2.016-0.938-2.016-2.016z"></path>
			</symbol>
		</defs>
	</svg>
	<div class="app-container">
		<div class="task-container" ng-controller="TaskController as vm">
			<h1 class="task-header">Task List</h1>
			<div class="task-input-box">
				<form id="todo-form">
					<input placeholder="Enter task to do" class="app-textbox app-textbox--primary" ng-model="newTask" autofocus maxlength="300"/>
					<button ng-click="vm.handleAddTask()" class="app-btn app-btn--primary app-btn--green">Add</button>
				</form>
			</div>
			<ul class="task-list">
				<li class="task-list-item" ng-repeat="task in taskList track by $index" 
						ng-class="{completed: task.isCompleted, editing: task == selectedTask}">
					<div class="task-actions task-actions--show-on-hover float-right">
						<button href="javascript:;" class="app-btn app-btn--edit" ng-click="vm.handleEditTask(task)">
							<svg class="icon icon-mode_edit"><use xlink:href="#icon-mode_edit"></use></svg>
						</button>
						<button href="javascript:;" class="app-btn app-btn--edit" ng-click="vm.handleDeleteTask(task)">
							<svg class="icon icon-delete"><use xlink:href="#icon-delete"></use></svg>
						</button>
					</div>
					<div class="state--in-view">
						<input type="checkbox" class="app-textbox" ng-model="task.isCompleted" ng-change="vm.handleToggleTask(task)"/>
						<span class="task-title">
							<a href="#">{{ task.title }}</a>
						</span>
					</div>
					<div class="state--in-edit">
						<input class="app-textbox app-textbox--secondary" ng-model="task.title">
						<div class="task-actions m-t-10px text-right">
							<button class="app-btn app-btn--secondary app-btn--red" ng-click="vm.handleCancelEdit(task)">Cancel</button>
							<button class="app-btn app-btn--secondary app-btn--green" ng-click="vm.handleSave(task)">Save</button>
						</div>
					</div>
				</li>
			</ul>
			
		</div>
	</div>
</html>